* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #f8faff !important;
}

.headline {
    padding: 16px;
    text-align: center;
}

.showcase_container {
    display: block;
    border-radius: 32px;
    margin: 16px;
    padding-bottom: 8px;
    background-color: #e5f1ff;
    color: inherit;
    text-decoration: none;
}

.showcase_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px 32px 0 0;
}

.showcase_text {
    padding: 0 16px;
}

.image_container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 32px 32px 0 0;
}

.image {
    width: 50%;
    height: 100%;
    object-fit: cover;
}