* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #f8faff !important;
}

.headline {
    padding: 16px;
    text-align: center;
}

.tip_card {
    border-radius: 32px;
    margin: 16px;
    padding: 32px;
    background-color: #0061e7;
    color: white;
    font-size: 1.125rem;
    line-height: 2rem;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 8px;
}

.showcase_container {
    border-radius: 32px;
    margin: 8px;
    padding-bottom: 8px;
    background-color: #e5f1ff;
    color: inherit;
    text-decoration: none;
}

.showcase_image {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    object-fit: cover;
    border-radius: 32px 32px 0 0;
}

.showcase_text_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.showcase_text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.count_capsule {
    height: 1.25rem;
    padding: 1px 12px;
    border-radius: .625rem;
    background-color: #ffc5f9;
}

.image_container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 32px 32px 0 0;
}

.image {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .showcase_container {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .showcase_container {
        width: calc((100% - 32px) / 2);
    }
}