* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #f8faff !important;
}

.headline {
    padding: 16px;
    text-align: center;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 4px;
}

.showcase_image {
    width: calc((100% - 16px) / 2);
    aspect-ratio: 1920 / 1080;
    object-fit: cover;
    border-radius: 8px;
    margin: 4px;
    background-color: #e5f1ff;
}