* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #f8faff !important;
}

.headline {
    padding: 16px;
    text-align: center;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 4px;
}

.showcase_subtitle {
    padding: 0 24px;
}

.showcase_image {
    height: calc(100vw / 2 / 1920 * 1080 - 12px);
    object-fit: contain;
    border-radius: 8px;
    margin: 4px;
    background-color: #e5f1ff;
}